@mixin social-button {
  height: 40px;
  width: 200px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  margin: 50px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 0;
}

@mixin social-button__icon($icon) {
  display: inline-block;
  background: $icon;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

@mixin social-button__text {
  vertical-align: middle;
  padding: 0 12px;
  font-size: 14px;
  font-family: 'Roboto',arial,sans-serif;
}

.facebook-button {
  @include social-button;
}

.facebook-button__icon {
  @include social-button__icon(url("../assets/images/fb_logo.svg"));
}

.facebook-button__text {
  @include social-button__text;
}

.google-button {
  @include social-button;
}

.google-button__icon {
  @include social-button__icon(url("../assets/images/g_logo.svg"));
}

.google-button__text {
  @include social-button__text;
}
