@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$mdc-typography-styles-headline6: (font-family: unquote("Nunito, sans-serif"), font-weight: 600, margin: 2px 0.67em);

@import "~@material/typography/mdc-typography";
@import "~@material/elevation/mdc-elevation";
@import "~@material/list/mdc-list";

body {
  height: 100%;
  background-color: #f5f5f5;
  margin: 0;
}

.demo {
  @include mdc-list-item-graphic-fill-color(#7f9bcf);
  @include mdc-list-item-graphic-ink-color(white);
}

h1, p {
  margin-left: 20px;
}

.header {
  background-color: #7f9bcf;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}
